/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
body {
    margin: 0;
    background: rgb(241, 241, 241);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Titillium Web', sans-serif;
}